<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <div class="container">
        <div class="main">
            <div class="main-content">
                <div class="intro">
                    <div class="intro2">
                        <% if (user && user.isAdmin) { %>
                            <h2>Все мероприятия</h2>
                            <a href="/new-event">Новое Мероприятие</a> 
                        <% } else { %>
                            <h2 id="blog_title">Все  ожидаемые мероприятия</h2>
                        <% } %>
                    </div>
                    <p>Все мероприятия, происходящие в нашем городе</p>
                </div>

                <% events.forEach(event => { %>   
                    <div class="blog_item">
                        <div class="blog_img">
                            <img src="<%= event.image %>" alt="<%= event.title %>">
                        </div>
                        <div class="blog_info">
                            <h3><a href="/detail/<%= event._id %>"><%= event.title %></a></h3>
                            <p><a href="/detail/<%= event._id %>"><%= event.description %></a></p>
                            <div class="blog_icons">
                                <div class="event_icon"><img src="/images/icons/time.svg" alt="Date Icon"><%= event.time %></div>
                                <div class="event_icon"><img src="/images/icons/location.svg" alt="Date Icon"><%= event.location %></div>
                                <div class="event_icon"><img src="/images/icons/date.svg" alt="Date Icon"><%= event.formattedDate %></div>
                                <div class="event_icon"><img src="/images/icons/category.svg" alt="Category Icon"><%= event.category.name %></div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>

            <div class="categories">
                <h3>Категории</h3>
                <% categories.forEach(category => { %>
                    <a href="?category=<%= category.key %>"><%= category.name %></a>
                <% }) %>
            </div>
        </div>
        <div class="pages">
            <% let localsString = '' %>
            <% if (locals.category) { localsString = 'category=' + locals.category + '&' } %>
            <% if (locals.search) { localsString = 'search=' + locals.search + '&' } %>
            <p>Pages:</p>
            <% for (let i = 0; i < pages; i++) { %>
                <a href="?<%= localsString %>page=<%= i %>"><%= i + 1 %></a>
            <% } %>
        </div>
    </div>
    
    <%- include("partials/scripts.ejs") %>
</body>
</html>
